nav.navbar.navbar-default(role="navigation")
	.container-fluid
		.navbar-header
			button.navbar-toggle(type="button", data-toggle="collapse", data-target="#vt-navbar-collapse")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href="/") Vehicle Tracker

		// Navbar content. Links etc.
		#vt-navbar-collapse.collapse.navbar-collapse
			if isAuthenticated()
				if user.roles[0] === 'manager'
					p.navbar-text
						a.navbar-link(href="/m/#{user.id}/employees") Employees
					p.navbar-text
						a.navbar-link(href="/m/unemployed") Find drivers!
					p.navbar-text
						a.navbar-link(href="/m/vehicle/create") Create Vehicle
					p.navbar-text
						a.navbar-link(href="/m/#{user.id}/track") Track

				if user.roles[0] === 'driver'
					p.navbar-text
						a.navbar-link(href="/d/#{user.id}") Drive

				.navbar-right
					p.navbar-text Signed in as#{" "}
						a.navbar-link(href="/profile/#{user.id}/") #{user.email}
					a.btn.btn-default.navbar-btn(href="/logout") Sign out
			else
				ul.nav.navbar-nav.navbar-right
					li
						a(href="/register") Register
					li
						a(href="/login") Sign in