nav.navbar.navbar-default(role="navigation")
	.container-fluid
		.navbar-header
			button.navbar-toggle(type="button", data-toggle="collapse", data-target="#vt-navbar-collapse")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href="/") Vehicle Tracker

		// Navbar content. Links etc.
		#vt-navbar-collapse.collapse.navbar-collapse
			if isAuthenticated()
				if (user.RoleNames.indexOf('admin') !== -1)
					p.navbar-text
						a.navbar-link(href="/admin/export") Export Database
					p.navbar-text
						a.navbar-link(href="/admin/importScript") Get Import Script
					p.navbar-text
						a.navbar-link(href="/admin/deleteAll") Delete all data

				if (user.RoleNames.indexOf('manager') !== -1)
					p.navbar-text
						a.navbar-link(href="/m/#{user.Id}/employees") Employees
					p.navbar-text
						a.navbar-link(href="/jobOffers/#{user.Id}") Find drivers!
					p.navbar-text
						a.navbar-link(href="/v/dashboard/#{user.Id}") Vehicles
					p.navbar-text
						a.navbar-link(href="/v/create/#{user.Id}") Create Vehicle
					p.navbar-text
						a.navbar-link(href="/m/#{user.Id}/track") Track
					p.navbar-text
						a.navbar-link(href="/m/#{user.Id}/statistics") Statistics
					p.navbar-text
						a.navbar-link(href="/m/#{user.Id}/toJSON") to JSON

				if (user.RoleNames.indexOf('driver') !== -1)
					p.navbar-text
						a.navbar-link(href="/d/#{user.Id}/drive") Drive
					if !user.isEmployed
						p.navbar-text
							a.navbar-link(href="/jobOffers/#{user.Id}") Find Job!

				.navbar-right
					p.navbar-text Signed in as#{" "}
						a.navbar-link(href="/profile/#{user.Id}/") #{user.Email}
					a.btn.btn-default.navbar-btn(href="/logout") Sign out
			else
				ul.nav.navbar-nav.navbar-right
					li
						a(href="/register") Register
					li
						a(href="/login") Sign in