extends layout
block content
	div.container
		h1 Profile #{profileInfo.Email}

		table.table.table-bordered
			if profileInfo.Name
				tr
					td Name
					td #{profileInfo.Name}
			tr
				td Id
				td #{profileInfo.Id}
			tr
				td Email
				td #{profileInfo.Email}
			tr
				td Is blocked
				td #{profileInfo.IsBlocked ? 'Yes' : 'No'}
			if profileInfo.roles.length !== 0
				tr
					td Roles
					td #{profileInfo.roles.join(', ')}