extends layout
block content
	div.container
		h1 Profile #{profileInfo.Email}

		table.table.table-bordered
			if profileInfo.Name
				tr
					td Name
					td #{profileInfo.Name}
			tr
				td Id
				td #{profileInfo.Id}
			tr
				td Email
				td #{profileInfo.Email}
			tr
				td Is blocked
				td #{profileInfo.IsBlocked ? 'Yes' : 'No'}
			if profileInfo.RoleNames
				tr
					td Roles
					td #{profileInfo.RoleNames.join(', ')}
			if profileInfo.DriverInfos
				tr
					td Drivers
					td
						each driverProfile in profileInfo.DriverInfos
							a(href="/profile/#{driverProfile.DriverId}") #{driverProfile.Email}