extends ../layout
block content
	.container
		.row
			.col-md-12
				h1 Offerable users
		.row
			.col-md-12
				table.table.table-condensed
					thead
						tr
							th Id
							th Name
							th Status
					tbody
						each offerableUserInfo, index in offerableUserInfos
							tr
								td
									a(href="/profile/#{offerableUserInfo.Id}") #{offerableUserInfo.Email}
								td #{offerableUserInfo.Id}
								td
									if (offerableUserInfo.HasNoOffers)
										a(href="/jobOffers/#{user.Id}/offer/#{offerableUserInfo.Id}").btn-action.btn.btn-sm.btn-primary
											if isManagerMode
												| Offer Job
											else if isDriverMode
												| Apply
									if (offerableUserInfo.OutgoingOffer)
										span.btn-action.btn.btn-sm.btn-default
											if isManagerMode
												| Job Offered
											else if isDriverMode
												| Application Sent
									if (offerableUserInfo.IncommingOffer)
										a(href="/jobOffers/#{user.Id}/accept/#{offerableUserInfo.Id}").btn-action.btn.btn-sm.btn-success Accept
										a(href="/jobOffers/#{user.Id}/reject/#{offerableUserInfo.Id}").btn-action.btn.btn-sm.btn-danger Reject