extends ../layout

block content

	.container
		.row
			.col-md-12
				h1 Creating a vehicle
				p (click the map to place it)
		.row
			.col-md-12
				.vt-google-map
		.row
			.col-md-6.col-md-offset-3
				form.form-horizontal(role="form", method="post", action="/v/create/#{user.Id}", data-parsley-validate)
					input#vehicle-longitude(type="hidden", name="longitude")
					input#vehicle-latitude(type="hidden", name="latitude")
					.form-group
						label.control-label.col-sm-3(for="license-plate") Name
						.col-sm-9
							input#license-plate.form-control(
								name="name",
								type="text",
								placeholder="Batmobile",
								data-parsley-required,
								data-parsley-required-message="Vehicle name is required",
								data-parsley-minlength="5"
								data-parsley-maxlength="30"
							)
					.form-group
						label.control-label.col-sm-3(for="info") Info
						.col-sm-9
							textarea#info.textarea-vertical.form-control(
								name="info",
								placeholder="Batman's car was created to...",
								data-parsley-maxlength="600"
							)
					if driversInfo && driversInfo.length !== 0
						.form-group
							label.control-label.col-sm-3(for="email") Assign to
							.col-sm-9
								select(name="driverId").form-control
									each driver in driversInfo
										option(value="#{driver.Id}") #{driver.Email}

					if (validationErrors)
						div.form-group
							div.col-sm-9.col-sm-offset-3
								.server-error-message.col-xs-12.alert.alert-danger
									if validationErrors
										each err in validationErrors
											p #{err}

					.form-group
						.col-sm-offset-3.col-sm-9
							button.btn.btn-default.btn-primary(type="submit") Create

block scripts
	script(src='http://maps.googleapis.com/maps/api/js?key=#{keys.googleMapsKey}&sensor=false&libraries=drawing ')
	script(src='/js/local/createVehicle.js')