extends ../layout
block content
	.container
		.row
			.col-md-12
				h1 Here is a list of your employees
		.row
			.col-md-12
				table.table.table-condensed
					thead
						tr
							th Email
							th Id
							th Actions
					tbody
						each employee in employeeInfos
							tr
								td
									a(href="/profile/#{employee.DriverId}") #{employee.Email}
								td #{employee.DriverId}
								td
									a.anchor-confirm.btn-action.action-btn.btn.btn-sm.btn-danger(
									href="/m/#{user.Id}/fire/#{employee.DriverId}"
									data-confirm-message="Sure to fire? This action can't be undone.") Fire