extends ../layout
block content

	- var confirmationTitle = 'Confirm firing';
	- var confirmationBody = 'Are you sure? This action can\'t be undone.';
	include ../partials/confirmationModal

	.container
		.row
			.col-md-12
				h1 Here is a list of your employees
		.row
			.col-md-12
				table.table.table-condensed
					thead
						tr
							th Email
							th Id
							th Actions
					tbody
						each employee in employeeInfos
							tr
								td
									a(href="/profile/#{employee.Id}") #{employee.Email}
								td #{employee.Id}
								td
									a(href="/m/#{user.Id}/fire/#{employee.Id}").btn-fire.btn-action.action-btn.btn.btn-sm.btn-danger Fire

block scripts
	script(src='/js/local/employees.js')