extends ../layout
block content
	.confirmation.modal.fade
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
					h4.modal-title Modal title
				.modal-body
					p One fine body…
				.modal-footer
					button.btn.btn-default(type='button', data-dismiss='modal') Close
					button.btn-confirm.btn.btn-primary(type='button') Delete


	.container
		.row
			.col-md-12
				h1 Here is a list of your employees
		.row
			.col-md-12
				table.table.table-condensed
					thead
						tr
							th Email
							th Id
							th Actions
					tbody
						each employee in employeeInfos
							tr
								td
									a(href="/profile/#{employee.Id}") #{employee.Email}
								td #{employee.Id}
								td
									a(href="/m/#{user.Id}/fire/#{employee.Id}").btn-fire.btn-action.action-btn.btn.btn-sm.btn-danger Fire

block scripts
	script(src='/js/local/employees.js')