extends ../layout
block content
	.container
		.row
			.col-md-12
				h1 Unemployed drivers
		.row
			.col-md-12
				table.table.table-condensed
					thead
						tr
							th #
							th Email
							th Id
							th Actions
					tbody
						each driver, index in unemployedInfo
							tr
								td #{index + 1}
								td
									a(href="/profile/#{driver.Id}") #{driver.Email}
								td #{driver.Id}
								td
									a(href="/m/#{user.id}/employ/#{driver.Id}").btn.btn-sm.btn-success Employ
